@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.contactUs{
   width: 100%;
}
.inner-contact{
    background-color: #EEEEEE;
    width: 90%;
    padding: 30px;
    /* height: 995px; */
    margin-top: 34px;
    margin-left: 80px;
    border-radius: 40px;
}
.contact-heading{
    margin-left: 500px;
    /* margin-top: 40px; */
}
.contact-heading h1{
    margin-top: 30px;
    color: #3653A3;
    font-family: "Poppins", sans-serif;
    font-size: 46px;

}
.heading-text{
    width: 1036px;
    /* height: 52px; */
    font-size: 16px;
    margin-left: 161px;
    margin-top: 20px;
    text-align: center;
}
.contact-form{
    margin-top: 50px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    gap: 20px;
}
.contact-left{
    border: none;
    background-color: white;
    width: 60%;
    /* height: 702px; */
    border-radius: 12px;
    box-shadow: 1px 1px 3px 2px black;
}
.contact-right .info{
    background-color: white;
    /* height: 300px; */
    box-shadow: 1px 1px 3px 2px black;
    width: 400px;
    border: none;
    border-radius: 12px;

}
.contact-left form{
    margin-left: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    /* padding-top: 30px; */
}
.contact-left form label{
    font-size: 16px;
    padding-top: 10px;
}
.contact-left form input{
    height: 48px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid;
    padding-left: 20px;
    /* padding-top: 10px; */
}
.contact-left h1{
    color: #3653A3;
    font-family: "Poppins", sans-serif;
    /* margin-left: 40px;
    margin-top: 20px; */
}
textarea{
    height: 140px;
    width: 90%;
    border-radius: 12px;
}
.submit{
    background-color: #3653A3;
    color: white;
    height: 45px;
    width: 80px;
    border-radius: 12px;
    border: none;
}

.contact-right .info  h1{
    font-size: 30px;
    color: #3653A3;
    padding-top: 38px;
    /* padding-left: 33px; */
    margin-left: 39px;
    font-weight: bold;
}
.contact-right .info p{
    display: flex;
    justify-content: left;
    gap: 7px;
    padding-left: 40px;
    padding-top: 6px;
    /* padding: 12px; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.contact-right .map{
    margin-top: 41px;
    /* height: 362px; */
    border: 2px solid black;
    box-shadow: 1px 1px 3px 2px black;
    border-radius: 12px;
}

.contactUs .footer{
    margin-top: 68px;
}



