.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: white;
  /* width: 1440vh; */
  border-bottom: 2px solid rgb(254, 252, 252);
  /* background-color: black ;
    color: white; */
  box-shadow: 1px 1px 10px 1px rgb(243, 243, 247);
  position: sticky;
  top: 0;
  /* z-index: 100; */
  /* overflow: visible; */
    z-index: 1000;

}


/* logo section */
.logo {
  display: flex;
  justify-content: start;
  align-items: start;
}
.logo img {
  height: 90px;
  width: 90px;
  margin-top: 7px;
  cursor:pointer;
}

/* navmenu section */


.navmenu li a{
  /* font-style: none; */
  text-decoration: none;
  color: black;
}
.navmenu li a.active{
  color: #3653A3;
  border-bottom: 2px solid #3653A3;
}

.navmenu ul {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin-left: -150px;
}
.navmenu ul li {
  list-style: none;
  font-size: 18px;
  font-weight: bolder;
  line-height: 16px;
  cursor: pointer;
  color: black;
  /* margin-left: -20px; */
}
.contact{
    transition: transform 0.25s ease, color 0.25s ease;   
}

/* phone number button */
.contact .proposal{
  display: flex;
  height: 55px;
  width: 250px;
  padding: 16px;
  /* margin-left: 20px; */
  border-radius: 50px;
  gap: 10px;
  background-color: #3653A3;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 1px 11px 1px #3653A3;
}
.contact a{
  text-decoration: none;
}
.proposal .call-icon{
  height: 22px;
  width: 22px;
  margin-left: 20px;
  
}

.contact:hover{
  transform: translateY(-10%) scale(1);
}

.hamburger {
  display: none;
  font-size: 32px;
  cursor: pointer;
  z-index: 1100;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 0 20px;
  }

  .hamburger {
    display: block;
  }

  .navmenu {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: white;
    display: none;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  }

  .navmenu.active {
    display: block;
  }

  .navmenu ul {
    flex-direction: column;
    gap: 25px;
    margin: 20px 0;
    align-items: center;
  }

  .contact.desktop-only {
    display: none;
  }
}
