.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  /* width: 1440vh; */
  border-bottom: 2px solid black;
  /* background-color: black ;
    color: white; */
  box-shadow: 1px 1px 10px 1px blue;

}

/* logo section */
.logo {
  display: flex;
  justify-content: start;
  align-items: start;
}
.logo img {
  height: 90px;
  width: 90px;
  margin-top: 7px;
  cursor:pointer;
}

/* navmenu section */
.navmenu ul {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin-left: -250px;
}
.navmenu ul li {
  list-style: none;
  font-size: 18px;
  font-weight: bolder;
  line-height: 16px;
  cursor: pointer;
  /* margin-left: -20px; */
}

/* phone number button */
.contact button{
  display: flex;
  height: 55px;
  width: 191px;
  padding: 16px;
  /* margin-left: 20px; */
  border-radius: 50px;
  gap: 10px;
  background-color: #3653A3;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 1px 11px 1px #3653A3;
}
.contact .call-icon{
  height: 22px;
  width: 22px;
  margin-left: 20px;
  
}