.row{
    display: flex;
    /* height: 100px; */
    /* gap: -20px; */
    /* background-color: aqua; */
        background-color: #EEEEEE;
    width: 99%;
    height: 100%;
    margin-top: 34px;
    margin-left: 20px;
    border-radius: 40px;
    padding: 20px;
}
.col-md-4{
    margin-top: 40px;
}

.col-md-4 img{
    height: 305px;
    /* width: 365px; */
    border-radius: 12px;
    box-shadow: 2px 3px 2px 2px black;
}
.gallery-footer{
    margin-top: 50px;
}


.col-md-4 img{
  cursor: pointer;
  transition: transform 0.3s ease;
}

.col-md-4 img:hover {
  transform: scale(1.05);
}
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.image-modal img {
  padding-top: 110px;
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}