.home-img img{
    height: 802px;
}
.home-content{
    margin-top: -600px;
    margin-left: 60px;
}
.home-content h4{
   color:#3652A5;
   font-size: 25px;
   font-weight: light;
   margin-left: 10px;
}

.home-content .mid-content{
    margin-top: 20px;
}
.home-content h1{
    /* font-size: 18px; */
    font-weight: bolder;
    font-size: 90px;
    /* margin-top: 15px; */
    color: black;
}
.home-content .home-para{
    margin-top: 12px;
    margin-left: 8px;
    width: 600px;
    font-size: 16px;
    /* padding-top: 10px; */
}
.home-para .para2{
    margin-top: 10px;
    color:#3453A2;
}
.image{
    display: flex;
    gap: 43px;
    margin-left: 84px;
}