@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

.TeamCard{
background:#eeeeee;
border-radius:15px;
padding:100px 20px;
max-width:1200px;
margin:80px auto;
overflow:hidden;
}

.team-headings{
text-align:center;
margin-bottom:70px;
}

.TeamCard h4{
color:#3653a1;
font-size:22px;
font-weight:bold;
}

.TeamCard h1{
margin-top:10px;
font-size:44px;
font-family:"ABeeZee";
}

.team-line{
width:260px;
height:2px;
background:#3653a1;
margin:12px auto 0;
}

.TeamMembers{
position:relative;
}

.members{
position:absolute;
top:-70%;
left:50%;
transform:translateX(-50%);
opacity:.05;
white-space:nowrap;
}

.members h1{
font-size:90px;
font-family:"ABeeZee";
}

.team-wrapper{
max-width:1200px;
margin:auto;
}

.slick-slide{
display:flex !important;
justify-content:center;
padding:0 10px;
}

.slide-item{
display:flex;
justify-content:center;
}

.team-card{
background:#fff;
border-radius:18px;
padding:20px;
text-align:center;
width:100%;
max-width:340px;
min-height:360px;
box-shadow:0 8px 25px rgba(0,0,0,.1);
transition:all .4s ease;
opacity:.4;
transform:scale(.75);
}

.slick-center .team-card{
opacity:1;
transform:scale(1);
}

.team-avatar{
width:90px;
height:90px;
border-radius:50%;
object-fit:cover;
margin-bottom:12px;
}

.team-card h3{
font-size:20px;
margin-top:-70px;
margin-left:70px;
}

.team-card h5{
font-size:14px;
font-weight:500;
color:#3366ff;
margin-left:88px;
margin-bottom:12px;
}

.team-card p{
font-size:15px;
line-height:1.5;
text-align:justify;
margin-top:30px;
min-height: 120px;
}

/* arrows */

.custom-arrow{
position:absolute;
top:50%;
transform:translateY(-50%);
font-size:52px;
cursor:pointer;
z-index:10;
}

.prev-arrow{
left:-10px;
}

.next-arrow{
right:-10px;
}

.custom-arrow:hover{
transform:translateY(-50%) scale(1.2);
color:#3653a1;
}

/* tablet */

@media(max-width:1024px){

.TeamCard{
padding:80px 20px;
}

.TeamCard h1{
font-size:36px;
}

.members h1{
font-size:70px;
}

.team-card{
max-width:300px;
}

}

/* mobile */

@media(max-width:768px){

.TeamCard{
padding:60px 15px;
}

.TeamCard h1{
font-size:30px;
}

.team-line{
width:200px;
}

.members{
display:none;
}

.team-card{
transform:scale(1);
opacity:1;
max-width:100%;
}

.custom-arrow{
display:none !important;
}

}

/* small mobile */

@media(max-width:480px){

.TeamCard h1{
font-size:26px;
}

.TeamCard h4{
font-size:18px;
}

}