@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

.TeamCard {
  padding: 100px 0;
  background: #EEEEEE;
  width: 1200px;
  height: 734px;
  margin-left: 105px;
  border-radius: 15px;
}

.team-headings {
  text-align: center;
  margin-bottom: 70px;
}

.TeamCard h4 {
  color: #3653a1;
  font-size: 24px;
  font-weight: bold;
}

.TeamCard h1 {
  margin-top: 40px;
  font-size: 48px;
  font-family: "ABeeZee", sans-serif;
}

.team-line {
  width: 260px;
  height: 2px;
  background: #3653a1;
  margin: 0px auto 0;
  border-radius: 2px;
}

.team-wrapper {
  max-width: 1200px;
  margin: 70px;
  overflow: visible;
}

.team-card {
height: 335px;
 width: 387px;
  background: #ffffff;
  border-radius: 18px;
  padding: 34px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  opacity: 0.4;
  transform: scale(0.75);
}

.TeamMembers{
    position: relative;
}
.members{
    position: absolute;
    top: 285%;
    left: 17%;
    opacity: 0.04;
}
.members h1{
    font-size: 100px;
    font-family: "ABeeZee", sans-serif;
    letter-spacing: 0.1px;
}

.slick-center .team-card {
  opacity: 1;
  transform: scale(1);
}

.team-card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 18px;
  /* margin-left: -5px; */
}

.team-card h3 {
  font-size: 20px;
  /* margin-bottom: 26px; */
  margin-top: -84px;
  margin-left: 75px;
}
.role{
    padding-left: 8px;
}

.team-card h5 {
  font-size: 14px;
  font-weight: 500;
  color: #3366ff;
  margin-left: 82px;
  margin-top: 10px;
  /* letter-spacing: 2.5px; */
  /* padding: a; */

}

.team-card p {
/* display: flex;
justify-content: center; */
/* width: 312px;
height: 154px; */
margin-top: 25px;
font-size: 16px;
font-weight: bold;
  /* align-items: left; */
line-height: 1.3;
color: #0a0a0a;
text-align: justify;
}


.slick-slide {
  display: flex !important;
  justify-content: center;
}


.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 56px;            
  color: #000000;               
  cursor: pointer;
  /* z-index: 999; */
  transition: transform 0.25s ease, color 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-arrow {
  left: -40px;
}

.next-arrow {
  right: -40px;
}


.custom-arrow svg {
  stroke-width: 3;           
}


.custom-arrow:hover {
  transform: translateY(-50%) scale(1.3);
  color: #3653a1;               
}


@media (max-width: 1024px) {
  .custom-arrow {
    font-size: 48px;
  }

  .prev-arrow {
    left: -60px;
  }

  .next-arrow {
    right: -60px;
  }
}

@media (max-width: 768px) {
  .custom-arrow {
    display: none !important; 
  }
}

