@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

.future{
    margin-top: -85px;
}
.watermark{
    transform: scale(1.4);
}
.media-watermark{
    height: 250px;
    /* margin-top: -80px; */
    font-size: 200px;
    font-weight: bolder;
    position: absolute;
    transform: rotate(-1deg);
    opacity: 0.2;
    color: #838B95;
}
.future-images{
    /* margin-top: 290px; */
    display: flex;
    gap: 734px;
}
.future-images img{
    margin-top: 400px;
}
.future-heading h1{
    color: #3653A3;
    font-family: "ABeeZee", sans-serif;
}
.future-heading span{
    color: #FF9F10;
}
/* .img1{
    margin-left: -30px;
} */
/* .future-images img{
    height: 589px;
    width: 720px;
} */
.future-heading{
    height: 120px;
    width: 608px;
    margin-left: 445px;
    margin-top: -500px;
    font-size: 21px;
    text-align: center;
}
.future-para{
    height: 150px;
    width: 560px;
    margin-left: 465px;
    font-size: 17px;
    font-family: sans-serif;
    line-height: 22px;
    margin-top: 50px;
    text-align: justify;
}
.future-btn{
    margin-left: 625px;
}
.future-btn button{
    height: 60px;
    width: 252px;
    border-radius: 32px;
    border: none;
    color: white;
    background-color: red;
    font-size: 19px;
    cursor: pointer;
}