.watermark{
    /* width: 1302px; */
    transform: scale(1.4);
}
.media-watermark{
    /* border: 1px solid black; */
    height: 250px;
   /* max-width: 1302px; */
   /* max-width: ; */
    margin-top: 40px;
    font-size: 200px;
    font-weight: bolder;
    position: absolute;
    /* transform: scale(1.4); */
    transform: rotate(-6deg);
    opacity: 0.2;
    color: #838B95;
}