@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#color{
    color: #3652A4;
}

.background{
    background-color: #E5EDEE;
    padding: 20px;
    margin-top: 50px;
    /* margin-top: -150px; */
}

.text{
    margin-left: 540px;
    margin-top: 54px;
    height: 339px;
    height: 54px;
    font-family: 'ABeeZee';
    font-size: 32px;
}

.line{
    border: 2px solid #3652A4;
    height: 4px;
    width: 300px;
    margin-left: 560px;
}

.image img {
  width: 100%;
  height: auto;
  margin-top: 60px;
}

.aboutus-description-container {
  display: flex;
  gap: 40px;
}


.image{
    width: 50%;
}

.card-right-container {
  width: 10%;
  display: flex;
  flex-wrap: wrap;
}


.card1{
    margin-top: 43.5px;
    /* margin-left:8px; */
    /* color: yellow; */
}
 .card2{
    margin-top: 43.5px;
    margin-left: 30px;
}
.card3{
    margin-top: 73px;
    /* margin-left: px; */
}
.card4{
    margin-top: 72.5px;
    margin-left: -120px;
}




/* responsive */
@media (max-width: 1024px) {

    .background{
        margin-top: -40px;
    }
  .aboutus-description-container {
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 80%;
  }

  .card-right-container {
    margin-top: 30px;
    width: 100%;
  }

  .card-container {
    width: 80vw;
  }
  .card1{
    margin-top: 10px;
    position: relative;
    /* top: 15%; */
    left: 7.8%;
  }
  .card1,.card2,.card3,.card4{
    margin-top: 10px;
    margin: auto;
  }
}



@media (max-width: 768px) {

    .background{
        margin-top: -190px;
    }
  .image {
    display: none; /* HIDE IMAGE */
  }

  .aboutus-description-container {
    flex-direction: column;
    align-items: center;
  }

  .card-right-container {
    width: 100%;
  }

  .card-container {
    width: 90vw;
  }

  /* Fix title alignment */
  .text {
    margin-left: 0;
    text-align: center;
  }

  .line {
    margin: 0 auto;
  }
}

