.footer {
    /* background: url("/images/footer-bg.jpg") center/cover no-repeat; */
    background-color: #030403;
    color: #fff;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-top: 130px; */
    margin-top: -4px;
  }
  
  .footer-overlay {
    background: rgba(0, 0, 0, 0.85);
    padding: 70px 80px 30px;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
  
 
  .footer-logo {
    width: 140px;
    margin-bottom: 25px;
    margin-left: 20px;
  }
  
  .social-icons {
    margin-top: -110px;
    display: flex;
    gap: 15px;
  }
  
  .social-icons svg {
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .social-icons svg:hover {
    color: #f9a825;
  }
  
  .footer-col h3 {
    margin-bottom: 20px;
    font-size: 18px;
    position: relative;
  }
  
  .footer-col h3::after {
    content: "";
    width: 40px;
    height: 2px;
    background: #f9a825;
    position: absolute;
    left: 0;
    bottom: -6px;
  }
  
  .footer-col p {
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .footer-col ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-col ul li {
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .footer-col ul li:hover {
    color: #f9a825;
  }
  
  .newsletter {
    display: flex;
    margin-top: 15px;
  }
  
  .newsletter input {
    flex: 1;
    padding: 10px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
  }
  
  .newsletter input::placeholder {
    color: #ccc;
  }
  
  .newsletter button {
    background: #fff;
    border: none;
    padding: 0 15px;
    cursor: pointer;
  }
  
  .newsletter button svg {
    color: #000;
    font-size: 18px;
  }
  
  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #ccc;
  }

  a{
    text-decoration: none;
    color: white;
  }
  
 
  @media (max-width: 900px) {
    .footer-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 500px) {
    .footer-container {
      grid-template-columns: 1fr;
    }
  
    .footer-bottom {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
  }
  