.eventstyle{
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 16px;
    box-shadow: 7px 5px 0px -1px;
    transition: transform 0.25s ease, color 0.25s ease;
    width: fit-content;
}

.eventstyle:hover{
    transform: translateY(-2%) scale(1);
}

.iconstyle{
    width: 43px;
    height: 43px;
}

.textstyle{
    margin-top: 31px;
    margin-left: 20px;
    color: #3652A1;
    font-size: 27px;
}

.loremstyle{
    margin-left: 20px;
    margin-top: 17px;
    height: 120px;
    width: 346px;
    align-items: left;
}

.event-image{
    width: 394px;
    height: 187px;
    margin-bottom: -5px;
}