@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Poppins:wght@300;400;500;600;700&display=swap");



.eventText {
  text-align: center;
  margin-top: 50px;
  font-family: "ABeeZee", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.eventColor {
  color: #3652a4;
}

.eventLine {
  width: 280px;
  height: 4px;
  background-color: #3652a4;
  margin: 10px auto 40px auto;
  border-radius: 4px;
}



.event-container {
  width: 88%;
  margin: auto;
  padding-bottom: 50px;
}


.slick-slide {
  padding: 0 15px; 
  box-sizing: border-box;
}

.slick-list {
  margin: 0 -15px;
}


.slick-track {
  display: flex !important;
}

.slick-slide > div {
  height: 100%;
}



.event-card {
  height: 520px;
  border: 2px solid #000;
  border-radius: 24px;
  padding: 28px 26px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}



.mic,
.hackathon,
.calendar,
.dance{
  width: 42px;
  height: 42px;
  margin-bottom: 20px;
  margin-top:22px;
  margin-left: 24px;
}


.event-card h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #3652a4;
  margin-bottom: 14px;
}

.event-card p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  flex-grow: 1;
}


.event-image {
  width: 100%;
  height: 190px;
  border-radius: 18px;
  overflow: hidden;
  border: 2px solid #000;
  margin-top: 25px;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.slick-dots li button:before {
  font-size: 10px;
  color: #aaa;
}

.slick-dots li.slick-active button:before {
  color: #3652a4;
}


@media (max-width: 1024px) {
  .event-card {
    height: auto;
  }
}

@media (max-width: 768px) {
  .eventText {
    font-size: 26px;
  }

  .eventLine {
    width: 200px;
  }
}
