.video-main{
    margin-top: 190px;
}

video {
  width: 100%;
  height: 521px;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 580%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 613%;
  left: 0;
  width: 100%;
  height: 521px;
  background-color: rgba(0,0,0,.4);
  /* background-color: #000000cc; */
}